.App {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(90deg, #002F52 35%, #326589 165%);
}

.App-header {
    background-color: whitesmoke;
    display: flex;
}

.opcoes {
    display: flex;
    margin-left: 400px;

}

.opcao1 {
    display: flex;
    font-weight: 300;
    min-width: 120px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    cursor: pointer;
    background-color: #002F52;
    border-radius: 10px;
    color: aliceblue;
    padding: 0 5px;
    margin-left: 60px;
}

.opcao2 {
    display: flex;
    font-weight: 300;
    min-width: 120px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    cursor: pointer;
    background: #002F52;
    border-radius: 10px;
    color: aliceblue;
    padding: 0 5px;
    margin-left: 60px;
}

.opcao3 {
    display: flex;
    font-weight: 300;
    min-width: 120px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    cursor: pointer;
    background: #002F52;
    border-radius: 10px;
    color: aliceblue;
    padding: 0 5px;
    margin-left: 60px;
}

li {
    list-style: none;
}